//
// Custom Main
//
// Added own styles or override existing ones
//
// This file is included last, so you have access
// to all Bootstrap and Core functions/mixins/styles etc
// --------------------------------------------------

.cursor {
  cursor: pointer;
}

// Block Modes
.block {
  &.block-mode-loading {
    > .block-header,
    > .block-content,
    > .nav-tabs {
      opacity: 0;
    }
    &::after {
      content: "";
      background: url("../media/icons/circle-notch.svg") no-repeat 50% 50%;
      background-size: 24px;
    }
  }
}

.bn-onboard-modal {
  font-family: "Arial" !important;
}
.bn-onboard-modal-content {
  font-family: "Arial" !important;
}

.bn-onboard-custom.bn-onboard-modal {
  z-index: 99;
}
